<table role="grid">
  <thead>
    <tr>
      <th>Date</th>
      <th>Odometer</th>
      <th>Amount</th>
      <th>Consumption</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for fillup in fillups %}
    <tr>
      <td>{{ fillup.addition_date|date:'j.n.y G:i' }}</td>
      <td>{{ fillup.distance|floatformat:0 }} km
        <sup>(+ {{ fillup.distance_delta|floatformat:0 }} km)</sup>
      </td>
      <td>
        {{ fillup.amount }} l
        {% if not fillup.tank_full %}
          <em data-tooltip="The tank was partially filled">&half;</em>
        {% endif %}
      </td>
      {% if fillup.consumption != None %}
        <td>{{ fillup.consumption|floatformat:1 }} l/100km</td>
      {% else %}
        <td>---</td>
      {% endif %}
      <td>{{ fillup.total_price }} €
        <sup>({{ fillup.price }} €/l)</sup>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No results...</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
