<!--
SPDX-FileCopyrightText: 2021 Jani Lehtinen
SPDX-FileCopyrightText: 2021 Markus Ijäs
SPDX-FileCopyrightText: 2021 Markus Murto

SPDX-License-Identifier: MIT
-->

{% extends 'lopokulu/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'fillup/css/form.css' %}" />
{% endblock %}

{% block content %}
<article>
  <header>
    <h2>Add fillup</h2>
  </header>
  <form action="/fillup/" method="post">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Add fillup" />
  </form>
</article>
{% endblock %}
