<!--
SPDX-FileCopyrightText: 2021 Jani Lehtinen
SPDX-FileCopyrightText: 2021 Markus Ijäs
SPDX-FileCopyrightText: 2021 Markus Murto

SPDX-License-Identifier: MIT
-->

{% extends 'lopokulu/base.html' %}
{% block content %}
{% for vehicle in vehicles %}
<article>
  <header>
    <nav>
      <ul>
        <li><strong>{{ vehicle.vehicle }}</strong></li>
      </ul>
      {% if vehicle.vehicle in allowed_fillups %}
      <ul>
        <li><a href="{% url 'add_fillup_for_vehicle' pk=vehicle.vehicle.id %}" role="button">Add fillup</a></li>
      </ul>
      {% endif %}
    </nav>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Full</th>
          <th>Distance</th>
          <th>Delta</th>
          <th>Amount</th>
          <th>Consumption</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for fillup in vehicle.fillups %}
        <tr>
          <td>{{ fillup.addition_date|date:'j.n G:i' }}</td>
          <td>{{ fillup.tank_full }}</td>
          <td>{{ fillup.distance }} km</td>
          <td>{{ fillup.distance_delta }} km</td>
          <td>{{ fillup.amount }} l</td>
          <td>TBD</td>
          <td>{{ fillup.price }} €/l</td>
          <td>{{ fillup.total_price }} €</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="8">No results...</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</article>
{% endfor %}
{% endblock %}
