<!--
SPDX-FileCopyrightText: 2021 Jani Lehtinen
SPDX-FileCopyrightText: 2021 Markus Ijäs
SPDX-FileCopyrightText: 2021 Markus Murto

SPDX-License-Identifier: MIT
-->

{% extends 'lopokulu/base.html' %}
{% block content %}
{% for single_equipment in equipment %}
<article>
  <header>
    <nav>
      <ul>
        <li><strong>
          <a href="{% url 'fillup:detail' pk=single_equipment.equipment.id %}">
            {{ single_equipment.equipment }}
          </a>
        </strong></li>
      </ul>
      {% if single_equipment.role in fillup_allowed_roles %}
      <ul>
        <li><a href="{% url 'fillup:add_fillup_for_equipment' pk=single_equipment.equipment.id %}" role="button">Add fillup</a></li>
      </ul>
      {% endif %}
    </nav>
  </header>
  <main>
    {% include 'fillup/partials/fillup-table.html' with fillups=single_equipment.fillups %}
  </main>
</article>
{% endfor %}
{% endblock %}
