{% extends 'lopokulu/base.html' %}
{% block content %}
<article>
  <header>
    <nav>
      <ul>
        <li><strong>{{ equipment }}</strong></li>
      </ul>
      {% if role in fillup_allowed_roles %}
      <ul>
        <li><a href="{% url 'fillup:add_fillup_for_equipment' pk=equipment.id %}" role="button">Add fillup</a></li>
      </ul>
      {% endif %}
    </nav>
  </header>
  <main>
    {% include 'fillup/partials/fillup-table.html' with fillups=fillups role=role %}
  </main>
</article>
{% endblock %}
