{% extends 'lopokulu/base.html' %}
{% load static lopokulu_extras %}
{% block content %}
<article>
  <header>
    <nav>
      <ul>
        <li><strong>Equipment</strong></li>
      </ul>
    </nav>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Allowed measurements</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for equipment in equipment_list %}
        <tr>
          <td><a href="{% url 'equipment:detail' pk=equipment.id %}">{{ equipment }}</a></td>
          <td>
            {% for allowed in equipment.allowed_measurements %}
              <a href="{% url allowed|addstr:':detail' pk=equipment.id %}" role="button">
                {{ allowed|capfirst|addstr:'s' }}
              </a>
            {% empty %}
              No measurements allowed
            {% endfor %}
          </td>
          <td>
            {% if perms.equipment.change_equipment %}
            <a href="{% url 'equipment:edit' pk=equipment.id %}" role="button">Edit</a>
            {% endif %}
            {% if perms.equipment.delete_equipment %}
            <a href="{% url 'equipment:delete' pk=equipment.id %}" class="secondary" data-confirm>Delete</a>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No equipment...</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if perms.equipment.add_equipment %}
    <p>
      <a href="{% url 'equipment:add' %}" role="button">Add new equipment</a>
    </p>
    {% endif %}
  </main>
</article>
{% endblock %}
