{% load static lopokulu_extras %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Löpökulu</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <link rel="stylesheet" href="{% static 'lopokulu/css/core.css' %}" />
    <script src="{% static 'lopokulu/js/core.js' %}"></script>
    {% block header %} {% endblock %}
  </head>
  <body>
    <nav id="site-header" class="container-fluid">
      <ul>
        <li><a href="{% url 'equipment:index' %}"><strong>Löpökulu</strong></a></li>
      </ul>
      {% if user.is_authenticated %}
      <ul id="main-nav">
        <li>
          <a class="{% active request 'equipment' %}" href="{% url 'equipment:index' %}">Equipment</a>
        </li>
        {% for app in MEASUREMENT_APPS %}
        <!-- TODO: Integration test main menu loop... -->
        <li>
          <a class="{% active request app %}" href="{% url app|addstr:':index' %}">{{ app|capfirst|addstr:'s' }}</a>
        </li>
        {% endfor %}
      </ul>
      <ul>
          <li><a href="{% url 'logout' %}">Log out</a></li>
      </ul>
      {% endif %}
    </nav>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer>
      <p>The modern expense tracker!</p>
    </footer>
  </body>
</html>
