{% extends 'lopokulu/base.html' %}
{% block content %}
<article>
  <header>
    <nav>
      <ul>
        <li><strong>Measurements</strong></li>
      </ul>
    </nav>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Measurement</th>
          <th>Type</th>
          <th>Equipment</th>
          <th>Measurer</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for measurement in measurements_list %}
        <tr>
          <td><a href="{% url 'measurements:detail' pk=measurement.id %}">{{ measurement.addition_date }}</a></td>
          <td>{{ measurement.measurement }}</td>
          <td>{{ measurement.type }}</td>
          <td><a href="{% url 'equipment:detail' pk=measurement.equipment.id %}">{{ measurement.equipment }}</a></td>
          <td>{{ measurement.measurer }}</td>
          <td>
            {% if perms.measurements.edit_measurements %}
            <a href="{% url 'measurements:edit' pk=measurements.id %}" role="button">Edit</a>
            {% endif %}
            {% if perms.measurements.delete_measurements %}
            <a href="{% url 'measurements:delete' pk=measurements.id %}" class="secondary">Delete</a>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6">No measurements...</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if perms.measurements.add_measurements %}
    <p>
      <a href="{% url 'measurements:add' %}" role="button">Add new measurement</a>
    </p>
    {% endif %}
  </main>
</article>
{% endblock %}
